/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

/* HEADER */

.header {
  background-color: #5FABDC;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: hidden;
}

.nav {
  max-width: 920px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav { color: white; }
.nav a { color: white; }
.nav h1 { font-size: 24px; }
.spacey-char { margin: 0 10px; }

.header-underbar {
  background-color: #f2e19e;
  margin: 0;
}

.myButton {
color: rgb(179, 255, 89); font-size: 18px; line-height: 18px; padding: 9px; border-radius: 40px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) -20px -6px 22px 14px; border: 23px outset rgb(28, 110, 164); display: inline-block;}
.myButton:hover {
background: #1C6EA4; }
.myButton:active {
background: #144E75; }
